<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>产品名称- PlantChemMed</title>
    <meta name="description" content="产品范围内容（100字左右，不足100，则有多少显示多少），如下图产品描述信息" />
    <meta name="keywords" content="产品名称" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/chanpin.css" />
  </head>

  <body>
    <%= htmlWebpackPlugin.options.header %>
    <div class="breadcrumbs main-container">
      <span class="item">首页</span>
      <span class="item">抑制剂及阻断剂</span>
      <span class="item">Rotenone</span>
    </div>
    <section class="main-container chanpin-container">
      <div class="product-heading">
        <h2>KC7F2</h2>
        <span>（中文名称）</span>
        <span class="auxiliary-color">别名</span>
      </div>
      <div class="catalog-number-wrapper auxiliary-color">目录号：PC597710</div>
      <p class="first-line-indent">
        适用范围内容信息SAFit2是一个高效且高选择性的KF506结合蛋白51(FKBP51)抑制剂，其Ki值为6nM，适用范围内容信息SAFit2是一个高效且高选择性的KF506结合蛋白51(FKBP51)抑制剂，其Ki值为6nM，并且能增强AKT2-AS106的结合，并且能增强AKT2-AS160的结合。
      </p>
      <div class="summary-container flex-row">
        <img src="../images/hot-product.jpg" alt="" />
        <div class="summary-info">
          <div class="note-container">PlantChemMed 的所有产品仅供科研使用，不能用于任何个人和临床研究！</div>

          <div class="table-container radius-8">
            <table>
              <tr>
                <th>规格</th>
                <th>价格</th>
                <th>库存</th>
              </tr>
              <tr>
                <td>5mg</td>
                <td>440</td>
                <td>现货</td>
              </tr>
              <tr>
                <td>10mg</td>
                <td>620</td>
                <td>现货</td>
              </tr>
              <tr>
                <td>50mg</td>
                <td>2000</td>
                <td>现货</td>
              </tr>
            </table>
          </div>

          <div class="btns-wrapper t-c">
            <button class="btn btn-warning btn-lg">
              <i class="icon-download"></i>
              产品说明书下载
            </button>
            <button class="btn btn-success btn-lg">
              <i class="icon-cash"></i>
              大剂量有折扣
            </button>
          </div>
        </div>
      </div>

      <!-- 基本信息 -->
      <section class="section-container">
        <div class="section-heading t-c">
          <h2>基本信息</h2>
        </div>
        <div class="section-body main-container">
          <table>
            <tr>
              <td colspan="2">
                <p>
                  Ginsenoside Rc exhib alert-warning antcjsd, It catn fsda,as fas dfasdf,ant i want to do this.Nobody can do that.Ginsenoside Rc exhib
                  alert-warning antcjsd, It catn fsda,as fas dfasdf,ant i want to do this.Nobody can do that.Ginsenoside Rc exhib alert-warning antcjsd, It catn
                  fsda,as fas dfasdf,ant i want to do this.Nobody can do that.Ginsenoside Rc exhib alert-warning antcjsd, It catn fsda,as fas dfasdf,ant i want
                  to do this.Nobody can do that.
                </p>
              </td>
            </tr>
            <tr>
              <td>CAS</td>
              <td>1218942-37-0</td>
            </tr>
            <tr>
              <td>分子量</td>
              <td>1218942-37-0</td>
            </tr>
            <tr>
              <td>分子式</td>
              <td>1218942-37-0</td>
            </tr>
            <tr>
              <td>溶剂</td>
              <td>1218942-37-0</td>
            </tr>
            <tr>
              <td>纯度</td>
              <td>90%</td>
            </tr>
            <tr>
              <td>存储温度</td>
              <td>>=23摄氏度</td>
            </tr>
          </table>
        </div>
      </section>

      <!-- 相关说明文档 -->
      <section class="section-container">
        <div class="section-heading t-c">
          <h2>相关说明文档</h2>
        </div>
        <div class="section-body main-container">
          <table>
            <tr>
              <td>安全说明书.doc</td>
            </tr>
          </table>
        </div>
      </section>

      <!-- 参考资料 -->
      <section class="section-container">
        <div class="section-heading t-c">
          <h2>参考资料</h2>
        </div>
        <div class="section-body main-container">
          <table>
            <tr>
              <td>某年参考资料</td>
            </tr>
          </table>
        </div>
      </section>

      <!-- 储备液配置 -->
      <section class="section-container reserve-solution-container">
        <div class="section-heading t-c">
          <h2>储备液配置</h2>
        </div>
        <div class="section-body main-container">
          <table class="t-c">
            <tr>
              <td class="cell-slash-wrapper">
                <div class="cell-slash">
                  <span>体积</span>
                  <span>质量</span>
                  <span>浓度</span>
                </div>
              </td>
              <td>1mg</td>
              <td>5mg</td>
              <td>10mg</td>
            </tr>
            <tr>
              <td>1mM</td>
              <td>1.2453mL</td>
              <td>0.2491mL</td>
              <td>0.1245mL</td>
            </tr>
            <tr>
              <td>5mM</td>
              <td>6.2267mL</td>
              <td>1.2453mL</td>
              <td>0.6227mL</td>
            </tr>
            <tr>
              <td>10mM</td>
              <td>12.4535mL</td>
              <td>2.4907mL</td>
              <td>1.2453mL</td>
            </tr>
          </table>
          <div class="note-container">
            注：请根据所选浓度进行配置储备液，配置好储备液后进行分装低温保存，避免反复冻融！PCM提供多种溶剂，如：DMSO（PC-57930）；玉米油（PC-86094）；棉籽油（PC-30875）等
          </div>
        </div>
      </section>

      <!-- 相关产品推荐 -->
      <section class="section-container">
        <div class="section-heading t-c">
          <h2>相关产品推荐</h2>
        </div>
        <div class="section-body main-container flex-row">
          <a class="card-item" href="">
            <img src="../images/hot-product.jpg" />
            <div class="card-desc-container">
              <strong>PC-47801</strong>
              <span>Rotenone</span>
              <span class="auxiliary-color">87-79-4</span>
              <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
            </div>
          </a>
          <a class="card-item" href="">
            <img src="../images/hot-product.jpg" />
            <div class="card-desc-container">
              <strong>PC-47801</strong>
              <span>Rotenone</span>
              <span class="auxiliary-color">87-79-4</span>
              <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
            </div>
          </a>
          <a class="card-item" href="">
            <img src="../images/hot-product.jpg" />
            <div class="card-desc-container">
              <strong>PC-47801</strong>
              <span>Rotenone</span>
              <span class="auxiliary-color">87-79-4</span>
              <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
            </div>
          </a>
          <a class="card-item" href="">
            <img src="../images/hot-product.jpg" />
            <div class="card-desc-container">
              <strong>PC-47801</strong>
              <span>Rotenone</span>
              <span class="auxiliary-color">87-79-4</span>
              <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
            </div>
          </a>
          <a class="card-item" href="">
            <img src="../images/hot-product.jpg" />
            <div class="card-desc-container">
              <strong>PC-47801</strong>
              <span>Rotenone</span>
              <span class="auxiliary-color">87-79-4</span>
              <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
            </div>
          </a>
        </div>
      </section>

      <!-- 浏览历史产品 -->
      <section class="section-container">
        <div class="section-heading t-c">
          <h2>浏览历史产品</h2>
        </div>
        <div class="section-body main-container flex-row">
          <a class="card-item" href="">
            <img src="../images/hot-product.jpg" />
            <div class="card-desc-container">
              <strong>PC-47801</strong>
              <span>Rotenone</span>
              <span class="auxiliary-color">87-79-4</span>
              <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
            </div>
          </a>
          <a class="card-item" href="">
            <img src="../images/hot-product.jpg" />
            <div class="card-desc-container">
              <strong>PC-47801</strong>
              <span>Rotenone</span>
              <span class="auxiliary-color">87-79-4</span>
              <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
            </div>
          </a>
          <a class="card-item" href="">
            <img src="../images/hot-product.jpg" />
            <div class="card-desc-container">
              <strong>PC-47801</strong>
              <span>Rotenone</span>
              <span class="auxiliary-color">87-79-4</span>
              <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
            </div>
          </a>
          <a class="card-item" href="">
            <img src="../images/hot-product.jpg" />
            <div class="card-desc-container">
              <strong>PC-47801</strong>
              <span>Rotenone</span>
              <span class="auxiliary-color">87-79-4</span>
              <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
            </div>
          </a>
          <a class="card-item" href="">
            <img src="../images/hot-product.jpg" />
            <div class="card-desc-container">
              <strong>PC-47801</strong>
              <span>Rotenone</span>
              <span class="auxiliary-color">87-79-4</span>
              <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
            </div>
          </a>
        </div>
      </section>
    </section>
    <%= htmlWebpackPlugin.options.footer %>
  </body>
</html>
