<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首页</title>
    <link rel="stylesheet" href="css/layout.css" />
  </head>
  <body>
    <%= htmlWebpackPlugin.options.header %>
    <section class="banner-container">
      <img src="images/banner.jpg" />
    </section>
    <section class="section-container">
      <div class="section-heading t-c">
        <h2>最新产品</h2>
      </div>
      <div class="section-body main-container">
        <div class="card-item">
          <img src="images/product1.jpg" alt="" />
          <dl>
            <dt>精细化学</dt>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
          </dl>
        </div>
        <div class="card-item">
          <img src="images/product1.jpg" alt="" />
          <dl>
            <dt>精细化学</dt>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
          </dl>
        </div>
        <div class="card-item">
          <img src="images/product1.jpg" alt="" />
          <dl>
            <dt>精细化学</dt>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
          </dl>
        </div>
        <div class="card-item">
          <img src="images/product1.jpg" alt="" />
          <dl>
            <dt>精细化学</dt>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
          </dl>
        </div>
      </div>
    </section>
    <%= htmlWebpackPlugin.options.footer %>
  </body>
</html>
