<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>抑制剂_阻断剂_小分子_科研产品- PlantChemMed</title>
    <meta name="description" content="PlantChemMed，一个聚焦多种科研产品服务平台，提供抑制剂、阻断剂、小分子等行业相关丰富的产品信息，为全球科技事业和工业领域客户提供系统的产品资源及配套技术服务。">
    <meta name="keywords" content="科研产品，抑制剂、阻断剂、小分子、PlantChemMed">
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <%= htmlWebpackPlugin.options.header %>
    <section class="banner-container">
      <img src="../images/banner.jpg" />
    </section>
    <section class="section-container">
      <div class="section-heading t-c">
        <h2>最新产品</h2>
      </div>
      <div class="section-body main-container">
        <div class="card-item">
          <img src="../images/product1.jpg" alt="" />
          <dl>
            <dt>精细化学</dt>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
          </dl>
        </div>
        <div class="card-item">
          <img src="../images/product1.jpg" alt="" />
          <dl>
            <dt>精细化学</dt>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
          </dl>
        </div>
        <div class="card-item">
          <img src="../images/product1.jpg" alt="" />
          <dl>
            <dt>精细化学</dt>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
          </dl>
        </div>
        <div class="card-item">
          <img src="../images/product1.jpg" alt="" />
          <dl>
            <dt>精细化学</dt>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
            <dd>
              <span>Arctiln</span>
              <span>PC597710</span>
            </dd>
          </dl>
        </div>
      </div>
    </section>
    <section class="section-container hot-products-container">
      <div class="section-heading t-c">
        <h2>热销产品</h2>
      </div>
      <div class="section-body main-container">
        <div class="card-item">
          <img src="../images/hot-product.jpg" />
          <div class="card-desc-container">
            <strong>PC-47801</strong>
            <span>Rotenone</span>
            <span>87-79-4</span>
            <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
          </div>
        </div>
        <div class="card-item">
          <img src="../images/hot-product.jpg" />
          <div class="card-desc-container">
            <strong>PC-47801</strong>
            <span>Rotenone</span>
            <span>87-79-4</span>
            <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
          </div>
        </div>
        <div class="card-item">
          <img src="../images/hot-product.jpg" />
          <div class="card-desc-container">
            <strong>PC-47801</strong>
            <span>Rotenone</span>
            <span>87-79-4</span>
            <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
          </div>
        </div>
        <div class="card-item">
          <img src="../images/hot-product.jpg" />
          <div class="card-desc-container">
            <strong>PC-47801</strong>
            <span>Rotenone</span>
            <span>87-79-4</span>
            <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
          </div>
        </div>
        <div class="card-item">
          <img src="../images/hot-product.jpg" />
          <div class="card-desc-container">
            <strong>PC-47801</strong>
            <span>Rotenone</span>
            <span>87-79-4</span>
            <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
          </div>
        </div>
        <div class="card-item">
          <img src="../images/hot-product.jpg" />
          <div class="card-desc-container">
            <strong>PC-47801</strong>
            <span>Rotenone</span>
            <span>87-79-4</span>
            <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
          </div>
        </div>
        <div class="card-item">
          <img src="../images/hot-product.jpg" />
          <div class="card-desc-container">
            <strong>PC-47801</strong>
            <span>Rotenone</span>
            <span>87-79-4</span>
            <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
          </div>
        </div>
        <div class="card-item">
          <img src="../images/hot-product.jpg" />
          <div class="card-desc-container">
            <strong>PC-47801</strong>
            <span>Rotenone</span>
            <span>87-79-4</span>
            <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
          </div>
        </div>
        <div class="card-item">
          <img src="../images/hot-product.jpg" />
          <div class="card-desc-container">
            <strong>PC-47801</strong>
            <span>Rotenone</span>
            <span>87-79-4</span>
            <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
          </div>
        </div>
        <div class="card-item">
          <img src="../images/hot-product.jpg" />
          <div class="card-desc-container">
            <strong>PC-47801</strong>
            <span>Rotenone</span>
            <span>87-79-4</span>
            <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-container news-container">
      <div class="section-heading t-c">
        <h2>新闻资讯</h2>
      </div>
      <div class="section-body main-container">
        <div class="left-box">
          <img src="../images/product1.jpg" />
          <div class="heading">行业新闻名称</div>
          <p>
            互联网时代，战场瞬息万变，互联网时代，战场瞬息万变，互联网时代，战场瞬息万变，互联网时代，战场瞬息万变，互联网时代，战场瞬息万变，互联网时代，战场瞬息万变，
          </p>
        </div>
        <ul class="right-box">
          <li>
            <div class="date-wrapper t-r">
              <strong>20</strong>
              <span>2020.12</span>
            </div>
            <div class="content-wrapper">
              <div class="heading">河北省定州市唐河流域综合治理</div>
              <p>河北省定州市唐河流域综合治理河北省定州市唐河流域综合治理河北省定州市唐河流域综合治理河北省定州市唐河流域综合治理</p>
            </div>
          </li>
          <li>
            <div class="date-wrapper t-r">
              <strong>20</strong>
              <span>2020.12</span>
            </div>
            <div class="content-wrapper">
              <div class="heading">河北省定州市唐河流域综合治理</div>
              <p>河北省定州市唐河流域综合治理河北省定州市唐河流域综合治理河北省定州市唐河流域综合治理河北省定州市唐河流域综合治理</p>
            </div>
          </li>
          <li>
            <div class="date-wrapper t-r">
              <strong>20</strong>
              <span>2020.12</span>
            </div>
            <div class="content-wrapper">
              <div class="heading">河北省定州市唐河流域综合治理</div>
              <p>河北省定州市唐河流域综合治理河北省定州市唐河流域综合治理河北省定州市唐河流域综合治理河北省定州市唐河流域综合治理</p>
            </div>
          </li>
          <li>
            <div class="date-wrapper t-r">
              <strong>20</strong>
              <span>2020.12</span>
            </div>
            <div class="content-wrapper">
              <div class="heading">河北省定州市唐河流域综合治理</div>
              <p>河北省定州市唐河流域综合治理河北省定州市唐河流域综合治理河北省定州市唐河流域综合治理河北省定州市唐河流域综合治理</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="section-container corporate-logo-container">
      <div class="section-heading t-c">
        <h2>合作企业</h2>
      </div>
      <div class="section-body main-container">
        <div class="logo-item">
          <img src="../images/logo-360.jpg" alt="360" />
        </div>
        <div class="logo-item">
          <img src="../images/logo-weibo.jpg" alt="weibo" />
        </div>
        <div class="logo-item">
          <img src="../images/logo-google.jpg" alt="google" />
        </div>
        <div class="logo-item">
          <img src="../images/logo-baidu.jpg" alt="baidu" />
        </div>
        <div class="logo-item">
          <img src="../images/logo-360.jpg" alt="360" />
        </div>
        <div class="logo-item">
          <img src="../images/logo-weibo.jpg" alt="weibo" />
        </div>
        <div class="logo-item">
          <img src="../images/logo-google.jpg" alt="google" />
        </div>
        <div class="logo-item">
          <img src="../images/logo-baidu.jpg" alt="baidu" />
        </div>
      </div>
    </section>
    <section class="section-container links-container">
      <div class="section-heading t-c">
        <h2>友情链接</h2>
      </div>
      <div class="section-body main-container">
        <div class="link-item">
          <a href="">百度</a>
        </div>
        <div class="link-item">
          <a href="">麦克林</a>
        </div>
        <div class="link-item">
          <a href="">百度</a>
        </div>
        <div class="link-item">
          <a href="">麦克林</a>
        </div>
        <div class="link-item">
          <a href="">百度</a>
        </div>
      </div>
    </section>
    <%= htmlWebpackPlugin.options.footer %>
  </body>
</html>
