<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>植物提取- PlantChemMed</title>
    <meta name="description" content="提供植物提取相关丰富的产品信息，享受植物提取产品自由搭配、规格随意等定制化服务。">
    <meta name="keywords" content="植物提取">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/lanmu.css" />
  </head>
  <body>
    <%= htmlWebpackPlugin.options.header %>
    <div class="breadcrumbs main-container">
      <span class="item">首页</span>
      <span class="item">产品库</span>
      <span class="item">植物提取</span>
    </div>
    <section class="main-container flex-columns lanmu-container">
      <nav class="sidebar">
        <ul class="radius-8">
          <li>全部</li>
          <li class="active">植物提取</li>
          <li>精细化学</li>
          <li>蛋白质及多肽</li>
          <li>荧光探针及染料</li>
          <li>其他</li>
        </ul>
      </nav>
      <div class="table-container radius-8">
        <table>
          <colgroup>
            <col width="15%">
            <col width="20%">
            <col width="15%">
            <col width="50%">
          </colgroup>
          <tr>
            <th>目录号</th>
            <th>名称</th>
            <th>CAS</th>
            <th>描述</th>
          </tr>
          <tr>
            <td>PC-09267</td>
            <td>PDPH</td>
            <td>83-92-67</td>
            <td>Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物</td>
          </tr>
        </table>
        <div class="pagination-container">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <%= htmlWebpackPlugin.options.footer %>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
  </body>
</html>
