<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>抑制剂_阻断剂_小分子_科研产品- PlantChemMed</title>
  <meta name="description"
    content="PlantChemMed，一个聚焦多种科研产品服务平台，提供抑制剂、阻断剂、小分子等行业相关丰富的产品信息，为全球科技事业和工业领域客户提供系统的产品资源及配套技术服务。" />
  <meta name="keywords" content="科研产品，抑制剂、阻断剂、小分子、PlantChemMed" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/layout.css" />
  <link rel="stylesheet" href="../css/news.css" />
  <style>
    .article-container {
      padding: 0;
    }

    .main-content .news-atts {
      font-size: 12px;
      color: #808080;
      margin-bottom: 6px;
    }

    .main-content h2 {
      margin: 0 0 18px;
      font-size: 20px;
      color: #333333;
      text-align: center;
    }

    .main-content .section-body-details {
      padding-top: 28px;
      border-top: 1px solid var(--border-color);
    }
  </style>
</head>

<body>
  <%= htmlWebpackPlugin.options.header %>
  <div class="breadcrumbs main-container">
    <span class="item"><a href="">首页</a></span>
    <span class="item"><a href="">产品库</a></span>
    <span class="item"><a href="">新闻资讯</a></span>
  </div>
  <section class="main-container news-container article-container flex-row">
    <div class="main-content">
      <h2>关于“扫黑除恶”专项斗争信息普查工作的通知</h2>
      <div class="news-atts flex-row">
        <span class="pageviews">浏览量：1234次</span>
        <span class="time">发布时间：2020-12-12 13:34:54</span>
      </div>
      <div class="section-body-details">
        <p class="p-text">
          已签订的订单，只有在获得买卖双方就具体变更及因此对价格与交货期产生的影响达成书面意见并签字后方可变更或修订。
          买方不得取消订单，除非获得卖方明确的书面同意。在这种情况下，卖方将告知买方取消订单需承担的所有费用，而买方同意支付所有这些费用。
          相关费用包括但不限于：仓储费、运费、生产非标准产品的成本、采购不可退货材料的成本、供应商向卖方收取的订单取消费用、
          以及其他买方在卖方允许情况下取消订单导致的任何费用。卖方独立会计师对费用的确认对双方而言是最终决定性的。</br>
        </p>
        <p class="p-text">
          买方在收到任何到货后应立即进行检查并以书面形式向卖方就短缺、货物缺陷、损坏等情况进行申诉，
          并应妥善保管货物等待卖方的书面处理意见。如果买方在收货五天内未能告知卖方，这些货物将被最终认为符合本销售条款内容并被买方不可撤回地接受。</br>
        </p>
        <p class="p-text">
          卖方对因任何超出卖方合理控制之外的因素导致的制造、交货延误或失败造成的损失、损害或处罚不承担责任。
          这些因素包括但不限于：不成功的反应，买方行为，禁运或其他政府行为，影响卖方商业活动的法规或要求，火灾，爆炸，意外，盗窃，
          故意破坏，暴动，战争，罢工或其他因劳动力造成的困难，闪电、水灾、风暴或其他天灾，交通延误或无法以目前的价格获得必要的劳动力、
          燃料、材料、用品或电力供给。</br>
        </p>
      </div>
    </div>
    <%= htmlWebpackPlugin.options.aside %>
  </section>
  <%= htmlWebpackPlugin.options.footer %>
  
</body>

</html>