<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>产品库</title>
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/product-lib.css" />
  </head>
  <body>
    <%= htmlWebpackPlugin.options.header %>
    <div class="breadcrumbs main-container">
      <span class="item">首页</span>
      <span class="item">产品库</span>
      <span class="item">植物提取</span>
    </div>
    <section class="main-container flex-columns product-lib-container">
      <nav>
        <ul class="radius-8">
          <li>全部</li>
          <li class="active">植物提取</li>
          <li>精细化学</li>
          <li>蛋白质及多肽</li>
          <li>荧光探针及染料</li>
          <li>其他</li>
        </ul>
      </nav>
      <div class="table-container radius-8">
        <table>
          <tr>
            <th>目录号</th>
            <th>名称</th>
            <th>CAS</th>
            <th>描述</th>
          </tr>
          <tr>
            <td>PC-09267</td>
            <td>PDPH</td>
            <td>83-92-67</td>
            <td>Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物</td>
          </tr>
        </table>
        <div class="pagination-container"></div>
      </div>
    </section>
    <%= htmlWebpackPlugin.options.footer %>
  </body>
</html>
