<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>植物提取- PlantChemMed</title>
  <meta content="提供植物提取相关丰富的产品信息，享受植物提取产品自由搭配、规格随意等定制化服务。" name="description" />
  <meta content="植物提取" name="keywords" />
  <link href="../css/layout.css" rel="stylesheet" />
  <link href="../css/chanpinku.css" rel="stylesheet" />
</head>

<body>
  <%= htmlWebpackPlugin.options.header %>
  <div class="breadcrumbs main-container">
    <span class="item"><a href="">首页</a></span>
    <span class="item"><a href="">产品库</a></span>
    <span class="item"><a href="">植物提取</a></span>
  </div>
  <section class="main-container flex-row lanmu-container">
    <nav class="sidebar">
      <ul class="radius-8">
        <li onclick="document.location='chanpinku.html'">全部</li>
        <li class="active" onclick="document.location='chanpinku.html'">植物提取</li>
        <li onclick="document.location='chanpinku.html'">精细化学</li>
        <li onclick="document.location='chanpinku.html'">蛋白质及多肽</li>
        <li onclick="document.location='chanpinku.html'">荧光探针及染料</li>
        <li onclick="document.location='chanpinku.html'">其他</li>
      </ul>
    </nav>
    <section class="empty-page">
      <div class="empty-container t-c">
        <span class="empty-text">没有搜索到相关产品</span>
      </div>
      <section class="card-section-container">
        <div class="card-section-heading t-c">
          <h2 class="h-40">相关推荐</h2>
        </div>
        <div class="card-section-body">
          <div class="table-container table-hover">
            <table>
              <colgroup>
                <col width="15%" />
                <col width="20%" />
                <col width="15%" />
                <col width="50%" />
              </colgroup>
              <tr>
                <th>目录号</th>
                <th>名称</th>
                <th>CAS</th>
                <th>描述</th>
              </tr>
              <tr onclick="document.location='chanpin.html'">
                <td>PC-09267</td>
                <td>PDPH</td>
                <td>83-92-67</td>
                <td class="td-4">Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物
                </td>
              </tr>
              <tr onclick="document.location='chanpin.html'">
                <td>PC-09267</td>
                <td>PDPH</td>
                <td>83-92-67</td>
                <td class="td-4">Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物
                </td>
              </tr>
              <tr onclick="document.location='chanpin.html'">
                <td>PC-09267</td>
                <td>PDPH</td>
                <td>83-92-67</td>
                <td class="td-4">Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物 Rotenone是线粒体电子传递链复合物
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>
    </section>
  </section>
  <%= htmlWebpackPlugin.options.footer %>
  
</body>

</html>