<div class="aside-container">
  <dl>
    <dt>热点新闻</dt>
    <dd><a href="">再生金属产业被列入十二五规划</a></dd>
    <dd><a href="">关于印发深化医药卫生体制改革</a></dd>
    <dd><a href="">再生金属产业被列入十二五规划</a></dd>
    <dd><a href="">关于印发深化医药卫生体制改革</a></dd>
    <dd><a href="">再生金属产业被列入十二五规划</a></dd>
    <dd><a href="">关于印发深化医药卫生体制改革</a></dd>
    <dd><a href="">再生金属产业被列入十二五规划</a></dd>
    <dd><a href="">关于印发深化医药卫生体制改革</a></dd>
  </dl>
  <div class="hot-project-container">
    <dt>推荐产品</dt>
    <div class="projectList">
      <a class="card-item" href="">
        <img src="../images/hot-product.jpg" />
        <div class="card-desc-container">
          <div>
            <span class="radius-8">PC-47801</span>
            <strong>Rotenone</strong>
          </div>
          <p>
            Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
        </div>
      </a>
      <a class="card-item" href="">
        <img src="../images/hot-product.jpg" />
        <div class="card-desc-container">
          <div>
            <span class="radius-8">PC-47801</span>
            <strong>Rotenone</strong>
          </div>
          <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
        </div>
      </a>
      <a class="card-item" href="">
        <img src="../images/hot-product.jpg" />
        <div class="card-desc-container">
          <div>
            <span class="radius-8">PC-47801</span>
            <strong>Rotenone</strong>
          </div>
          <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
        </div>
      </a>
      <a class="card-item" href="">
        <img src="../images/hot-product.jpg" />
        <div class="card-desc-container">
          <div>
            <span class="radius-8">PC-47801</span>
            <strong>Rotenone</strong>
          </div>
          <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
        </div>
      </a>
      <a class="card-item" href="">
        <img src="../images/hot-product.jpg" />
        <div class="card-desc-container">
          <div>
            <span class="radius-8">PC-47801</span>
            <strong>Rotenone</strong>
          </div>
          <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
        </div>
      </a>
      <a class="card-item" href="">
        <img src="../images/hot-product.jpg" />
        <div class="card-desc-container">
          <div>
            <span class="radius-8">PC-47801</span>
            <strong>Rotenone</strong>
          </div>
          <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
        </div>
      </a>
      <a class="card-item" href="">
        <img src="../images/hot-product.jpg" />
        <div class="card-desc-container">
          <div>
            <span class="radius-8">PC-47801</span>
            <strong>Rotenone</strong>
          </div>
          <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
        </div>
      </a>
      <a class="card-item" href="">
        <img src="../images/hot-product.jpg" />
        <div class="card-desc-container">
          <div>
            <span class="radius-8">PC-47801</span>
            <strong>Rotenone</strong>
          </div>
          <p>Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体Rotenone是线粒体电子传递链复合物|抑制剂。Rotenone通过促进线粒体</p>
        </div>
      </a>
    </div>
  </div>
  <dl class="latest-products-container">
    <dt>最新产品推荐</dt>
    <dd>
      <a href="">
        <span class="name">Arctiin</span>
        <span class="model">PC597710</span>
      </a>
    </dd>
    <dd>
      <a href="">
        <span class="name">Arctiin</span>
        <span class="model">PC597710</span>
      </a>
    </dd>
    <dd>
      <a href="">
        <span class="name">Arctiin</span>
        <span class="model">PC597710</span>
      </a>
    </dd>
    <dd>
      <a href="">
        <span class="name">Arctiin</span>
        <span class="model">PC597710</span>
      </a>
    </dd>
    <dd>
      <a href="">
        <span class="name">Arctiin</span>
        <span class="model">PC597710</span>
      </a>
    </dd>
    <dd>
      <a href="">
        <span class="name">Arctiin</span>
        <span class="model">PC597710</span>
      </a>
    </dd>
  </dl>
</div>