.lanmu-container {
  margin-bottom: 60px;
}

.lanmu-container .sidebar {
  background: none;
}
.lanmu-container .sidebar ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
  color: #ffffff;
}
.lanmu-container .sidebar li {
  width: 227px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  background-color: var(--base-color);
}
.lanmu-container .sidebar li + li {
  margin-top: 1px;
}
.lanmu-container .sidebar .active {
  background-color: #f39801;
}

.lanmu-container .empty-container {
  height: 295px;
}

.empty-page .empty-container .empty-text {
  /* margin-top和margin-bottom没有任何视觉效果。其原因就在于行内非替换元素的外边距不会改变一个元素的行高。 */
  /* https://segmentfault.com/q/1010000000694623 */
  margin-top: 82px;
  /* 所以设置为 inline-block */
  display: inline-block;
  padding-left: 32px;
  font-size: 20px;
  color: #808080;
  background-image: url(../images/empty-icon.png);
  background-position: 0 center;
  background-repeat: no-repeat;
}
.empty-page .card-section-container {
  position: relative;
  margin-top: 40px;
  margin-left: 28px;
}

.lanmu-container .empty-page .table-container {
  margin-left: 0;
  margin-top: 10px;
}
.lanmu-container .empty-page .table-container th{
  background-color: transparent;
  color: var(--base-color);
}
.lanmu-container .table-container {
  overflow: hidden;
  flex: 1;
  margin-left: 28px;
}
.lanmu-container .table-container table {
  border: 1px solid #e4f6e6;
}
.lanmu-container .table-container th{
  padding: 11px 16px;
  color: #fff;
}
.lanmu-container .table-container tr{
  height: 66px;
}
.lanmu-container .table-container td{
  padding: 6px 16px 5px;
  height: 66px;
  font-size: 14px;
  cursor: pointer;
}
.lanmu-container .table-container .td-4{
  padding: 6px 16px 5px;
  font-size: 12px;
}

.lanmu-container .table-container .td-4 .text-ellipsis {
  -webkit-line-clamp: 2;
}
.item a{
  color: #808080;
}