.lanmu-container {
  /* padding: 20px 0; */
}
.lanmu-container .sidebar {
  background: none;
}
.lanmu-container .sidebar ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 18px;
  color: var(--text-reverse-color);
}
.lanmu-container .sidebar li {
  width: 238px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: var(--base-color);
}
.lanmu-container .sidebar li + li {
  margin-top: 1px;
}
.lanmu-container .sidebar .active {
  background-color: #f39801;
  color: var(--text-reverse-color);
}

.lanmu-container .table-container {
  overflow: hidden;
  flex: 1;
  margin-left: 12px;
}

.lanmu-container table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #eee;
}
.lanmu-container th,
.lanmu-container td {
  border: 1px solid #eee;
  border-width: 1px 0;
  padding: 20px 16px;
}
.lanmu-container th {
  background-color: var(--base-color);
  color: var(--text-reverse-color);
  text-align: left;
}
.pagination-container {
  margin: 50px auto;
}
.pagination-container .page-item + .page-item {
  margin-left: 7px;
}
.pagination-container .page-item .page-link {
  border-radius: 3px;
  margin-left: 0;
  padding: 0.2rem 0.57rem;
  color: var(--light-font-color);
}
.pagination-container .page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.pagination-container input[type="text"] {
  width: 34px;
}
.pagination-container input[type="text"],
.pagination-container button {
  border-radius: 3px;
  border: 1px solid #dee2e6;
  padding: 0.2rem 0.57rem;
  line-height: 1.25;
  background-color: #fff;
  color: #007bff;
}
