.chanpin-container .section-container {
  position: relative;
  margin-top: 85px;
  border-top: 2px solid var(--base-color);
}
.chanpin-container .product-heading {
  display: flex;
  align-items: center;
}
.chanpin-container .product-heading h2 {
  margin: 0;
  font-size: 24px;
}
.catalog-number-wrapper {
  margin: 12px 0 10px;

}
.line{
  border-bottom: 2px solid #d9e9e2;
}

.chanpin-container th,
.chanpin-container td {
  padding: 10px 0;
  text-align: center;
}
.td-left {
  padding: 10px 0;
  height: 50px;
  width: 239px;
}
.td-right {
  padding: 10px 0;
  text-align: left;
}
.chanpin-container table p {
  margin-bottom: 0;
  text-indent: 2em;
}
.chanpin-container td p {
  margin-bottom: 0;
  text-indent: 0em;
  text-align:left
}
p-test {
  margin-bottom: 0;
}
.summary-container {
  width: 100%;
}
.summary-container img {
  border: 1px solid #e6e6e6;
  width: 350px;
  height: 350px;
}

.summary-container .summary-info {
  width: 750px;
  margin-left: 28px;
}
.summary-info table{
  height: 198px;
}
.summary-container .btns-wrapper {
  margin-top: 10px;
}

.cp-table-container{
  height: 198px;
}

.summary-container table tr > th,
.summary-container table tr > td {
  border: 1px solid #fff;
  background-color: #dfeddc;
  color: var(--light-font-color);
  font-weight: normal;
  font-size: 14px;
}
.summary-container table tr:hover td {
  background-color: #f2f7f1;
}
.chanpin-container .section-heading {
  position: absolute;
  top: -42px;
  left: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  width: 195px;
  background-color: var(--base-color);
  text-align: center;
  color: var(--text-reverse-color);
}
.chanpin-container .section-heading h2 {
  margin-bottom: 0;
  line-height: 40px;
  font-size: 16px;
  height: 40px;
  color: #ffffff;
  text-align: center;
}
.chanpin-container table {
  width: 100%;
}
.chanpin-container table td {
  border: 1px solid #dfeddc;
}
.chanpin-container .top-boder-none tr:first-of-type > td {
  border-top: none;
}

table .cell-slash-wrapper {
  padding: 0 !important;
}

table .cell-slash {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 70px;
  overflow: hidden;
  width: 222.5px;
}

table .cell-slash span {
  margin-top: 10px;
}

table .cell-slash span:first-child {
  margin-top: 36px;
}
table .cell-slash span + span::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200%;
  height: 1px;
  transform-origin: 100% 100%;
  transform: rotate(13deg);
  background-color: #dfeddc;
}

table .cell-slash span:last-child:before {
  transform: rotate(36deg);
}

.note-container {
  color: #f38300;
}
.summary-info .note-container {
  margin-bottom: 28px;
}
.reserve-solution-container .note-container {
  margin-top: 14px;
}
.chanpin-container .card-item {
  display: block;
  margin: 8px 0;
  width: 269px;
  background-color: #fff;
}

.chanpin-container .card-item img {
  display: block;
  border-radius: 1px;
  width: 100%;
  height: 182px;
  margin-bottom: 0;
  outline: 1px solid var(--base-color);
}

.chanpin-container .card-desc-container {
  padding: 8px 10px;
}
.chanpin-container .card-desc-container span {
  font-family: var(--font-yh);
  font-size: 14px;
  font-weight: bold;
  color: #4c4c4c;
}
.chanpin-container .card-desc-container strong {
  width: 102px;
  background-color: var(--base-color);
  color: #ffffff;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.chanpin-container .card-desc-container p {
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-weight: bold;
  font-size: 12px;
  color: #4c4c4c;
  -webkit-box-orient: vertical;
}
.reserve-solution-container table {
  margin-top: 10px;
  width: auto;
}

.reserve-solution-container table td {
  width: 222.5px;
}
