.lanmu-container .sidebar {
  background: none;
}
.lanmu-container .sidebar ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 18px;
  color: #fff;
}
.lanmu-container .sidebar li {
  width: 285px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: var(--base-color);
}
.lanmu-container .sidebar li + li {
  margin-top: 1px;
}
.lanmu-container .sidebar .active {
  background-color: #f39801;
}

.lanmu-container .table-container {
  overflow: hidden;
  flex: 1;
  margin-left: 12px;
}
.lanmu-container .table-container th{
  padding: 16px 16px;
  color: #fff;
}

.lanmu-container .table-container td{
  padding: 19px 16px;
  font-size: 13px;
}
.pagination-container {
  margin: 50px auto;
}
.pagination-container .page-item + .page-item {
  margin-left: 7px;
}
.pagination-container .page-item .page-link {
  border-radius: 3px;
  margin-left: 0;
  padding: 0.2rem 0.57rem;
  color: var(--light-font-color);
}
.pagination-container .page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-reverse-color);
}
.pagination-container input[type="text"] {
  width: 34px;
}
.pagination-container input[type="text"],
.pagination-container button {
  border-radius: 3px;
  border: 1px solid #dee2e6;
  padding: 0.2rem 0.57rem;
  line-height: 1.25;
  background-color: #fff;
  color: #007bff;
}
