/* banner */
.banner-container img {
  display: block;
  width: 100%;
}

.section-container {
  padding-top: 46px;
}

.section-container:nth-of-type(odd) {
  background-color: #cae5c6;
}

.section-heading::after {
  content: "";
  display: block;
  height: 30px;
  background-image: url(../images/section-heading-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.section-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-body .card-item {
  display: flex;
  width: calc(50% - 36px);
  justify-content: space-between;
}

.section-body .card-item img,
.section-body .card-item dl {
  width: calc(50% - 10px);
}

.section-body .card-item dt {
  height: 29px;
  line-height: 29px;
  background-color: var(--base-color);
  border-radius: 5px;
  padding-left: 20px;
  font-size: 17px;
  font-weight: bold;
  color: var(--text-reverse-color);
}

.section-body .card-item dd > a {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  line-height: 40px;
}

/* 热销产品 */
.hot-products-container .section-body {
  padding: 36px 0 40px;
}

.hot-products-container .card-item {
  display: block;
  margin: 8px auto;
  width: calc(25% - 7px);
  background-color: #fff;
}

.hot-products-container .card-item img {
  display: block;
  border-radius: 1px;
  width: 100%;
  outline: 2px solid var(--base-color);
}

.hot-products-container .card-desc-container {
  padding: 8px 10px;
}

.hot-products-container .card-desc-container strong {
  background-color: var(--base-color);
  color: var(--text-reverse-color);
}

/* 新闻资讯 */
.news-container .section-body {
  flex-wrap: initial;
}

.news-container .left-box img {
  height: 431px;
}

.news-container .left-box .heading {
  font-weight: bold;
}

.news-container .right-box li {
  display: flex;
  align-items: center;
}

.news-container .date-wrapper {
  position: relative;
  padding-right: 11px;
}

.news-container .date-wrapper::after {
  content: "";
  position: absolute;
  top: calc(50% - 22.5px);
  right: 0;
  width: 1px;
  height: 45px;
  background: #bfbfbf;
}

.news-container .date-wrapper strong {
  font-size: 22px;
}

.news-container .content-wrapper {
  margin-left: 20px;
}

.news-container .content-wrapper .heading {
  font-weight: bold;
}

/* 合作企业 */
.corporate-logo-container .section-body {
  padding: 30px 0 80px;
}

.corporate-logo-container .logo-item {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background-color: #fff;
}

/* 友情链接 */
.links-container .section-body {
  justify-content: left;
}

.links-container .link-item {
  padding: 25px 0;
  font-size: 24px;
}

.links-container .link-item + .link-item {
  margin-left: 36px;
}

.links-container .link-item a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
