.breadcrumbs {
  margin: 20px auto;
}
.breadcrumbs .item + .item::before {
  content: ">";
}
.lanmu-container {
  padding: 20px 0;
}
.lanmu-container nav {
  background: none;
}
.lanmu-container nav ul {
  display: block;
  margin: 0;
  overflow: hidden;
}
.lanmu-container nav li {
  width: 238px;
  height: 40px;
  line-height: 40px;
  background-color: var(--base-color);
}
.lanmu-container nav li + li {
  margin-top: 1px;
}
.lanmu-container nav .active {
  background-color: #f39801;
  color: var(--text-reverse-color);
}

.lanmu-container .table-container {
  overflow: hidden;
  flex: 1;
  margin-left: 12px;
}

.lanmu-container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eee;
}
.lanmu-container th,
.lanmu-container td {
  border: 1px solid #eee;
  border-width: 1px 0;
  padding: 20px 16px;
}
.lanmu-container th {
  background-color: var(--base-color);
  color: var(--text-reverse-color);
  text-align: left;
}
