:root {
  --base-color: #009a44;
  --text-reverse-color: #fefefe;
}

body {
  margin: 0;
}

.flex-columns {
  display: flex;
  justify-content: space-between;
}
a{text-decoration:none;}
.t-c {
  text-align: center;
}
.t-r {
  text-align: right;
}
.radius-8 {
  border-radius: 8px;
}
.main-container {
  width: 1000px;
  margin: 0 auto;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  padding: 18px 0;
}

.search-wrapper {
  display: flex;
  --height: 40px;
  overflow: hidden;
}

.search-wrapper input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 12px 8px;
  width: 486px;
  height: var(--height);
  box-sizing: border-box;
  border: 1px solid var(--base-color);
  box-shadow: inset 0 0 1px var(--base-color);
}

.search-wrapper button {
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 12px;
  height: var(--height);
  background: var(--base-color);
  font-size: 23px;
  color: var(--text-reverse-color);
}

.contact-wrapper {
}

.nav-container {
  background-image: linear-gradient(#5daa58, #018b3e);
}

.nav-container ul {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 18px;
  color: var(--text-reverse-color);
}

.nav-container ul > li {
  width: 150px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.nav-container ul > li.active {
  background-color: #01853c;
  color: #fcf332;
}

.nav-container ul > li > a{
  font-size: 18px;
  color: var(--text-reverse-color);
}

/* footer */
.brand-features {
  background-color: #009a52;
}

.brand-features .main-container {
  display: flex;
  justify-content: space-between;
}

.brand-features .feature {
  width: 136px;
  height: 184px;
  text-align: center;
  color: var(--text-reverse-color);
}
.brand-features .feature::before {
  content: "";
  display: block;
  margin-top: 10px;
  height: calc(100% - 56px);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--text-reverse-color);
}

.brand-features .feature1::before {
  background-image: url(../images/feature1.jpg);
}

.brand-features .feature2::before {
  background-image: url(../images/feature2.jpg);
}

.brand-features .feature3::before {
  background-image: url(../images/feature3.jpg);
}

.brand-features .feature4::before {
  background-image: url(../images/feature4.jpg);
}

.brand-features .feature > img {
  display: block;
  width: 130px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitemap-wrapper {
  display: flex;
  width: 450px;
  justify-content: space-between;
}
.sitemap-item dt {
  margin-bottom: 34px;
  font-size: 20px;
  font-weight: bold;
}
.sitemap-item dd {
  margin-left: 0;
  line-height: 34px;
}

footer ul {
  list-style: none;
}

footer ul li {
  padding-left: 30px;
  background-image: url(../images/icons-contact.jpg);
  background-repeat: no-repeat;
  line-height: 30px;
}

.contact-info-wrapper .phone {
  font-size: 18px;
  background-position: 0 2px;
}

.contact-info-wrapper .working-hours {
  font-size: 16px;
  background-position: 0 -32px;
}

.contact-info-wrapper .email {
  font-size: 16px;
  background-position: 0 -60px;
}

.copyright-wrapper {
  line-height: 50px;
  background-color: #e6ffdf;
}
