<section class="brand-features">
  <section class="main-container">
    <div class="feature feature1"></div>
    <div class="feature feature2"></div>
    <div class="feature feature3"></div>
    <div class="feature feature4"></div>
  </section>
</section>
<footer class="main-container">
  <section class="logo-wrapper">
    <img src="../images/logo.png" />
  </section>
  <section class="sitemap-wrapper">
    <dl class="sitemap-item">
      <dt>订购指南</dt>
      <dd><a href="xiaoshoutiaokuan.html">销售条款</a></dd>
      <dd><a href="guanyufahuo.html">关于发货</a></dd>
      <dd>定制服务</dd>
    </dl>

    <dl class="sitemap-item">
      <dt>服务支持</dt>
      <dd>摩尔计算器</dd>
      <dd>稀释计算器</dd>
      <dd><a href="tuihuanzhengce.html">退/换货政策</a></dd>
    </dl>

    <dl class="sitemap-item">
      <dt>关于我们</dt>
      <dd>公司介绍</dd>
      <dd><a href="lianxiwomen.html">联系我们</a></dd>
    </dl>
  </section>
  <section class="contact-info-wrapper">
    <ul>
      <li class="phone">+86 13248283690</li>
      <li class="working-hours">周一至周五 8:30-18:00</li>
      <li class="email">sales@PlantChemMed.com</li>
    </ul>
  </section>
</footer>
<section class="copyright-wrapper t-c"><a href="https://beian.miit.gov.cn">@2020版权所有 沪ICP备20016295号-1</a></section>
