<section class="brand-features">
  <section class="main-container">
    <div class="feature">
      <img src="https://www.manjaro.cn/uploads/allimg/200604/6-200604152423G9.jpg" />
      正品保证
    </div>
    <div class="feature">
      <img src="https://www.manjaro.cn/uploads/allimg/200604/6-200604152423G9.jpg" />
      次日达
    </div>
    <div class="feature">
      <img src="https://www.manjaro.cn/uploads/allimg/200604/6-200604152423G9.jpg" />
      无忧退货
    </div>
    <div class="feature">
      <img src="https://www.manjaro.cn/uploads/allimg/200604/6-200604152423G9.jpg" />
      多买优惠
    </div>
  </section>
</section>
<footer class="main-container">
  <div class="logo-wrapper">
    <img src="https://www.webpackjs.com/6ccd91e44bf7f92d9942781dbc6094b5.png" />
  </div>
  <section class="sitemap-wrapper">
    <div class="sitemap-item">
      <h6>订购指南</h6>
      <ul>
        <li>新人注册</li>
        <li>发票说明</li>
        <li>销售条款</li>
        <li>超大定制</li>
        <li>商务合作</li>
      </ul>
    </div>
  </section>
  <section class="sitemap-wrapper">
    <div class="sitemap-item">
      <h6>服务支持</h6>
      <ul>
        <li>数据计算器</li>
        <li>关于发货</li>
        <li>发票说明</li>
        <li>常见问题</li>
        <li>退\换货政策</li>
      </ul>
    </div>
  </section>
  <section class="sitemap-wrapper">
    <div class="sitemap-item">
      <h6>关于我们</h6>
      <ul>
        <li>公司介绍</li>
        <li>联系我们</li>
        <li>隐私声明</li>
        <li>人才招聘</li>
      </ul>
    </div>
  </section>
</footer>
<section class="copyright-wrapper t-c">@2020版权所有 沪ICP备20016295号</section>
