<header class="main-container">
  <div class="logo-wrapper">
    <img src="../images/logo.png" />
  </div>
  <div class="search-wrapper">
    <input type="text" />
    <button style="font-size: 28px;font-weight: bold;color: #ffffff">搜索</button>
  </div>
  <div class="contact-wrapper">
    <div  class="d-24">24小时咨询热线</div>
    <span class="s-400">400-000-000</span>
  </div>
</header>
<nav class="nav-container">
  <ul class="main-container">
    <li><a href="shouye.html">首页</a></li>
    <li><a href="chanpinku.html">产品库</a></li>
    <li><a href="shouye.html">定制服务</a></li>
    <li><a href="shouye.html">新闻资讯</a></li>
    <li><a href="shouye.html">数据计算器</a></li>
    <li><a href="shouye.html">关于我们</a></li>
  </ul>
</nav>
