<header class="main-container">
  <div class="logo-wrapper">
    <img src="images/logo.jpg" />
  </div>
  <div class="search-wrapper">
    <input type="text" />
    <button>搜索</button>
  </div>
  <div class="contact-wrapper">
    <div style="color: #9a9a9a">24小时咨询热线</div>
    <span style="color: #f49600">400-000-000</span>
  </div>
</header>
<nav>
  <ul class="main-container">
    <li class="active">首页</li>
    <li>产品库</li>
    <li>定制服务</li>
    <li>新闻资讯</li>
    <li>数据计算器</li>
    <li>关于我们</li>
  </ul>
</nav>
