<header class="main-container">
  <div class="logo-wrapper">
    <img src="../images/logo.jpg" />
  </div>
  <div class="search-wrapper">
    <input type="text" />
    <button>搜索</button>
  </div>
  <div class="contact-wrapper">
    <div style="color: #9a9a9a">24小时咨询热线</div>
    <span style="color: #f49600; font-size: 19px">400-000-000</span>
  </div>
</header>
<nav class="nav-container">
  <ul class="main-container">
    <li><a href="shouye.html">首页</a></li>
    <li><a href="chanpinku.html">产品库</a></li>
    <li><a href="shouye.html">定制服务</a></li>
    <li><a href="shouye.html">新闻资讯</a></li>
    <li><a href="shouye.html">数据计算器</a></li>
    <li><a href="shouye.html">关于我们</a></li>
  </ul>
</nav>
